body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  html {
    height: 100%;
    overflow: hidden;
  }
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-form {
    width: 300px;
    padding: 20px;
    margin-top: -300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .success-message {
    margin-top: 10px;
    color: green;
  }
  
  .error-message {
    margin-top: 10px;
    color: red;
  }
  
  .form-button {
    margin-top: 20px;
  }
  
  .form-login {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .form-login a:hover {
    color: #4caf50;
    text-decoration: none;
  }
  